services:
  # spin up react
  frontend:
    build: ./frontend
    container_name: staysafe_front
    ports:
      - '3000:3000'
    volumes:
      - ./frontend:/usr/app
  # spin up node
  backend:
    build: ./backend
    container_name: staysafe_back
    ports:
      - '8080:8080'
    volumes:
      - ./backend:/usr/src

# MongoDB to be added later