services:
  # spin up react
  frontend:
    build: ./frontend
    container_name: staysafe_front
    platform: linux/amd64
    ports:
      - '3000:3000'
    volumes:
      - ./frontend:/usr/app
      - /usr/app/node_modules
  # spin up node
  backend:
    build: ./backend
    container_name: staysafe_back
    platform: linux/amd64
    ports:
      - '8080:8080'
    volumes:
      - ./backend:/usr/src
      - /usr/src/node_modules
    depends_on:
      - mongodb
    #added here for chico arrest routing
    command: node /usr/src/scraper.js 
      

  mongodb:
    image: arm64v8/mongo:5.0
    container_name: staysafe_mongo
    platform: linux/arm64/v8
    ports:
      - '27017:27017'
    volumes:
      - mongodb_data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: your_username
      MONGO_INITDB_ROOT_PASSWORD: your_password

      

volumes:
  mongodb_data:
