.top-navbar {
  background-color: #3D4040;
  overflow: hidden;
}

.top-navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 1em;
  text-decoration: none;
  font-size: 110%;
}

.top-navbar a:hover:not(.site-nav-title) {
  background-color: #f2f2f2;
  color: black;
}

.top-navbar a.site-nav-title {
  color: cyan;
  float: left;
  font-size: 110%;
  font-weight: bold;
}
