.top-navbar {
  background-color: #3D4040;
  overflow: hidden;
}

.top-navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 1em;
  text-decoration: none;
  font-size: 110%;
}

.top-navbar a:hover:not(.site-nav-title) {
  background-color: #f2f2f2;
  color: black;
}

.top-navbar a.site-nav-title {
  color: cyan;
  float: left;
  font-size: 110%;
  font-weight: bold;
}

.top-navbar-right {
  float: right;
}

/* CSS for default splash page leaving as reference for now - remove later

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
*/